[run]
source = src
omit = 
    src/controllers/*
    src/views/*
    src/utils/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
